@import '../../../sass/variables';
@import '../../../sass/mixins';

.breadcrumb-wrapper {
  background: $white;
  padding: 1.5rem;

  .breadcrumb {
    ul {
      li {
        display: inline-block;
        font-size: 1.4rem;

        &:last-child {
          a {
            color: $color-two;

            &:hover {
              color: $color-two;
            }
          }
        }

        &:not(:first-child) {
          &:before {
            content: "\203A\00a0";
            padding: 0 5px;
            color: $color-eleven;
            font-size: 1.6rem;
          }
        }

        a {
          color: $color-ten;

          &:hover {
            color: $color-sixteen;
          }
        }
      }
    }
  }

  .breadcrumb-text {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 1.5rem 0 0;
    @include ellipsis;

    &.loading-text {
      opacity: 0;
    }
  }
}