<div class="breadcrumb-wrapper">
  <div class="breadcrumb">
    <ul>
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="">{{breadCrumbData.city}}</a>
      </li>
      <li>
        <a href="">{{breadCrumbData.locality}}</a>
      </li>
    </ul>
  </div>
  <p class="breadcrumb-text {{!breadCrumbData.isReady ? 'loading-text' : ''}}">
    {{breadCrumbData.total_count}}- Flats, Apartments for Rent in {{breadCrumbData.locality}} | Rental Flats in HSR Layout
  </p>
</div>
