@import '../../../sass/variables';
@import '../../../sass/mixins';

.filter {
  width: 27rem;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  min-height: 60%;
  position: fixed;
  background: white;
  border-radius: 4px;
  height: calc(100% - 12rem);

  .filter-header {
    @include clearfix;
    padding: 1rem 1.5rem;
    border-bottom: solid 1px $color-fourteen;

    p {
      font-size: 1.6rem;
      font-weight: 300;
      display: inline-block;
      line-height: 1.6;
    }

    p.title {
      color: $color-ten;
      float: left;
    }

    p.action-content {
      color: $green;
      float: right;
      font-size: 1.4rem;
      line-height: 1.8;
      cursor: pointer;
    }
  }

  .price-range-wrap {
    @include clearfix;
    margin-top: 1rem;

    p {
      color: $color-seven;
      font-size: 1.4rem;
    }

    p.left {
      float: left;
    }

    p.right {
      float: right;
    }

    input[type="number"] {
      width: 7rem;
      padding: 0 5px;
      z-index: 1;
      background: $white;
      border: 1px solid $color-twenty-one;
      height: 2.6rem;
      color: $color-seven;
      font-size: 1.2rem;
      outline: none;
    }
  }

  .filter-types {
    overflow: auto;
    height: calc(100% - 5rem);
    position: relative;
    padding-bottom: 5rem;

    .filter-type {
      padding: 1rem 1.5rem;
      &.multiple-checkbox {
        .checkbox-wrap:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }

      &.inline-checkbox {
        >div {
          display: table;
          width: 100%;
        }

        .checkbox-wrap {
          display: table-cell;
          text-align: left;
        }
      }
      &.two-grid-checkbox {
        .checkbox-wrap {
          display: inline-block;
          text-align: left;
          width: calc(50% - 2px);
        }
      }
      .label {
        color: $color-seven;
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 1rem;
      }
    }
  }

  .btn-checkbox {
    display: inline-block;
    margin: .5rem 1rem 1.2rem 0;

    input[type="checkbox"] {
      visibility: hidden;
      position: absolute;
      z-index: -1;
      height: 0;
      width: 0;

      &:checked {
        &~label {
          background: $green;
          color: $white;
        }
      }
    }
  }

  .filter-select-btn {
    width: auto;
    height: auto;
    position: static;
    padding: .3rem .8rem;
    font-weight: 500;
    font-size: 1.3rem;
    border: none;
    background: $color-seventeen;
    cursor: pointer;

    &.selected {
      background: $green;
      color: $white;
    }

    span {
      font-weight: 400;
      line-height: 1.4;
    }
  }

  .advanced-filter {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3.6rem;
    background: $white;
    @include dtransition(.5s);
    overflow: hidden;
    z-index: 2;

    .advanced-filter-header {
      background: $green;
      @include clearfix;
      padding: 1rem 1.5rem;
      cursor: pointer;

      .title {
        color: $white;
        font-size: 1.6rem;
        font-weight: 300;
      }


      .filter-count {
        display: inline-block;
        color: $white;
        border: 1px solid $white;
        padding: 3px;
        min-width: 27px;
        line-height: 10px;
        text-align: center;
        border-radius: 10px;
        font-size: 12px;
        left: 5px;
        top: -2px;
        position: relative;
      }

      .toggle-icon {
        color: $white;
        text-decoration: none;
        font-size: 18px;
        float: right;
        cursor: pointer;
      }
    }

    &.open {
      height: calc(100% - 10rem);
    }
  }
}

@media(max-width: 992px) {
  .filter {
    width: 22rem;
  }
}

@media(max-width: 768px) {
  .filter {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 10;
    height: calc(100% - 5rem);
    top: 5rem;
    width: calc(100% - 5rem);
    right: 0;
    left: auto;

    .filter-wrapper {
      height: calc(100% - 4rem);
      overflow: auto;
      padding-bottom: 2rem;
    }

    .filter-types {
      height: auto;
      padding-bottom: 0;
    }

    .advanced-filter {
      position: relative;
      left: 0;
      right: 0;
      bottom: 0;
      height: auto;

      &.open {
        height: auto;
      }

      .filter-types {
        height: auto;
      }
      .advanced-filter-header {
        display: none;
      }
    }

    &.mobile-filter {
       -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}