<div class="filter {{openState ? 'mobile-filter' : ''}}">
  <div class="filter-header">
    <p class="title">Filters</p>
    <p class="action-content" (click)="resetFilter()">
      <i class="fa fa-undo" aria-hidden="true"></i>
      Reset
    </p>
  </div>
  <div class="filter-wrapper">
    <div class="filter-types">
      <div class="filter-type">
        <p class="label">Apartment Type</p>
        <div class="btn-checkbox" *ngFor="let item of apartMentTypes; let i = index">
          <input type="checkbox" name="{{i}}" id="{{item.key}}{{i}}" [(ngModel)]="item.selected" (ngModelChange)="filterValueChanged(item, 'type')">
          <label class="filter-select-btn" for="{{item.key}}{{i}}">
            <span>{{item.key}}</span>
          </label>
        </div>
      </div>
      <div class="filter-type">
        <p class="label">Rent Range (per month)</p>
        <div>
          <ion-range-slider 
            #sliderElement
            type="double"
            min="0"
            max="50000"
            [from]="priceRange.from"
            [to]="priceRange.to"
            hide_min_max= "true"
            hide_from_to= "true"
            to_shadow="true"
            grid="false"
            step="1000"
            (onFinish)="priceRangeChange($event)">
          </ion-range-slider>
          <div class="price-range-wrap">
            <p class="left">
              <span>&#8377;</span>
              <input type="number" name="min" (change)="priceRangeChange({from: priceRange.from, to: priceRange.to})" [ngModel]="priceRange.from">
            </p>
            <p class="right">
              <span>&#8377;</span>
              <input type="number" name="max" (change)="priceRangeChange({from: priceRange.from, to: priceRange.to})" [ngModel]="priceRange.to">
            </p>
          </div>
        </div>
      </div>
      <div class="filter-type">
        <div class="checkbox-wrap">
          <div class="checkbox">
            <input type="checkbox" name="lease" id="lease" [(ngModel)]="leaseOnly" (ngModelChange)="filterValueChanged(leaseOnly, 'leaseOnly')">
            <label for="lease" class="text"></label>
          </div>
          <label for="lease" class="text">Lease Only</label>
        </div>
      </div>
      <div class="filter-type multiple-checkbox">
        <p class="label">Preferred Tenants</p>
        <div class="checkbox-wrap" *ngFor="let item of preferredTenants; let i = index">
          <div class="checkbox">
            <input type="checkbox" name="{{i}}" id="{{item.key}}{{i}}" [(ngModel)]="item.selected" (ngModelChange)="filterValueChanged(item, 'leaseType')">
            <label for="{{item.key}}{{i}}" class="text"></label>
          </div>
          <label for="{{item.key}}{{i}}" class="text">{{item.key}}</label>
        </div>
      </div>
      <div class="filter-type multiple-checkbox inline-checkbox">
        <p class="label">Furnishing</p>
        <div>
          <div class="checkbox-wrap" *ngFor="let item of furnishing; let i = index">
            <div class="checkbox">
              <input type="checkbox" name="{{i}}" id="{{item.key}}{{i}}" [(ngModel)]="item.selected" (ngModelChange)="filterValueChanged(item, 'furnishing')">
              <label for="{{item.key}}{{i}}" class="text"></label>
            </div>
            <label for="{{item.key}}{{i}}" class="text">{{item.key}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="advanced-filter {{advancedFilter ? 'open' : ''}}">
      <div class="advanced-filter-header" (click)="toggleFilter()">
        <span class="title"> Advanced Filters </span> <span class="filter-count" id="filterCount">{{advancedFilterLength}}</span>
        <span class="toggle-icon">
          <i class="fa fa-angle-double-up {{advancedFilter ? 'fa-angle-double-down' : ''}}" aria-hidden="true"></i>
        </span>
      </div>
      <div class="filter-types">
        <div class="filter-type">
          <div class="checkbox-wrap">
            <div class="checkbox">
              <input type="checkbox" name="onlyWithPhotos" id="onlyWithPhotos">
              <label for="onlyWithPhotos" class="text"></label>
            </div>
            <label for="onlyWithPhotos" class="text">Show only with Photos</label>
          </div>
        </div>
        <div class="filter-type multiple-checkbox">
          <p class="label">Property Type</p>
          <div>
            <div class="checkbox-wrap" *ngFor="let item of propertyTypes; let i = index">
              <div class="checkbox">
                <input type="checkbox" name="{{i}}" id="{{item.key}}{{i}}" [(ngModel)]="item.selected" (ngModelChange)="filterValueChanged(item, 'buildingType')">
                <label for="{{item.key}}{{i}}" class="text"></label>
              </div>
              <label for="{{item.key}}{{i}}" class="text">{{item.key}}</label>
            </div>
          </div>
        </div>
        <div class="filter-type multiple-checkbox inline-checkbox">
          <p class="label">Parking</p>
          <div>
            <div class="checkbox-wrap" *ngFor="let item of parking; let i = index">
              <div class="checkbox">
                <input type="checkbox" name="{{i}}" id="{{item.key}}{{i}}" [(ngModel)]="item.selected" (ngModelChange)="filterValueChanged(item, 'parking')">
                <label for="{{item.key}}{{i}}" class="text"></label>
              </div>
              <label for="{{item.key}}{{i}}" class="text">{{item.key}}</label>
            </div>
          </div>
        </div>
        <div class="filter-type multiple-checkbox two-grid-checkbox">
          <p class="label">Bathroom</p>
          <div>
            <div class="checkbox-wrap" *ngFor="let item of bathrooms; let i = index">
              <div class="radio">
                <input type="radio" name="bathrooms" id="{{item.key}}{{i}}" [checked]="idx === 0" 
                [value]="item.key" (change)="filterValueChanged(item, 'bathroom')">
                <label for="{{item.key}}{{i}}" class="text"></label>
              </div>
              <label for="{{item.key}}{{i}}" class="text">{{item.key}}</label>
            </div>
          </div>
        </div>
        <div class="filter-type multiple-checkbox two-grid-checkbox">
          <p class="label">Amenities</p>
          <div>
            <div class="checkbox-wrap" *ngFor="let item of amenities; let i = index">
              <div class="checkbox">
                <input type="checkbox" name="{{i}}" id="{{item.key}}{{i}}" [(ngModel)]="item.selected" (ngModelChange)="filterValueChanged(item, 'amenities')">
                <label for="{{item.key}}{{i}}" class="text"></label>
              </div>
              <label for="{{item.key}}{{i}}" class="text">{{item.key}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
