@import '../../../sass/variables';
@import '../../../sass/mixins';

.card {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border-radius: 2px;
  margin-top: 1rem;
  background: $white;

  &:hover {
    box-shadow: 0 0 10px $color-eight;
  }

  .card-title {
    position: relative;
    background-color: $color-seventeen;
    margin: 0;
    padding: 15px;
    border-top: 1px solid $color-eighteen;
    border-bottom: 1px solid $color-eighteen;
    position: relative;

    .text {
      font-size: 1.6rem;
      font-weight: 600;
      margin: 0;
      padding-right: 22rem;
      color: $color-nine;
      cursor: pointer;

      &:hover {
        color: $red;
      }

      i {
        vertical-align: text-top;
      }

      a {
        display: inline-block;
        @include ellipsis;
        color: inherit;
        max-width: calc(100% - 2rem);
        padding-right: .5rem;
      }
    }

    .sub-text {
      font-size: 1.4rem;
      font-weight: 300;
      margin-top: .5rem;
      color: $color-nine;
      padding-right: 22rem;

      i {
        color: $red;
        vertical-align: text-top;
      }

      span {
        @include ellipsis;
        display: inline-block;
        max-width: calc(100% - 2rem);
        padding-right: .5rem;
      }
    }

    .no-of-views {
      background-color: $white;
      background-image: url(https://assets.nobroker.in/static/img/resale/bolt@2x.png);
      background-repeat: no-repeat;
      background-position: 1.5rem;
      background-size: 2rem;
      max-width: 200px;
      position: absolute;
      right: 8px;
      top: 8px;
      padding: .7rem 1rem .7rem 4.5rem;
      border: 1px solid $color-fourteen;
      border-radius: 35px 0 0 35px;
      box-shadow: 0 0 1px $color-fourteen;
      font-weight: 300;
      color: $color-seven;
      font-size: 1.2rem;
      line-height: 1.4;
    }
  }

  .card-content {
    border-bottom: 1px solid $color-eighteen;
    .overview-wrap {
      display: table;
      table-layout: fixed;
      width: 100%;
      border-bottom: 1px solid $color-eighteen;
      padding: 1rem;
      text-align: center;
      background: $white;

      .overview {
        display: table-cell;
        vertical-align: middle;
        color: $color-seven;
        text-align: center;

        &:not(:last-child) {
          border-right: 1px solid $color-twenty;
        }

        .key {
          font-size: 1.2rem;
          font-weight: 400;
          margin-top: .5rem;
        }

        .value {
          font-size: 1.6rem;
          font-weight: 600;
        }

      }
    }
    .details-wrap {
      @include clearfix;
      padding: 1.5rem;

      .img-wrap {
        float: left;
        width: 37%;

        img {
          max-width: 100%;
          @include img-cover;
        }
      }

      .content-wrap {
        float: right;
        width: 63%;
        padding-left: 1.5rem;

        .contents {
          border: 1px solid $color-fourteen;
          @include clearfix;

          .content {
            float: left;
            width: 50%;
            padding: 2rem 1rem 1.5rem 4.5rem;
            min-height: 6rem;

            .text {
              font-size: 1.4rem;
              font-weight: 500;
              color: $color-seven;
              padding-top: .5rem;
              text-transform: capitalize;
              @include ellipsis;
            }

            &.border-right {
              border-right: 1px solid $color-eighteen;
            }

            &.border-bottom {
              border-bottom: 1px solid $color-eighteen;
            }

            &.property-furnishing {
              background: url(https://assets.nobroker.in/static/img/listing-page-sprite_2.png) no-repeat;
                  background-position: -12px -330px;
            }

            &.property-age {
              background: url(https://assets.nobroker.in/static/img/listing-page-sprite_2.png) no-repeat;
              background-position: -12px -4px;
            }

            &.property-family {
              background: url(https://assets.nobroker.in/static/img/resale/male_Te.png) no-repeat;
              background-position: 1rem center;
            }

            &.property-ready {
              background: url(https://assets.nobroker.in/static/img/resale/possesion_icon.png) no-repeat;
              background-position: 1rem center;
            }
          }
        }

        .action-wrap {
          margin-top: 2rem;
          ul {
            li {
              display: inline-block;

              &:not(:last-child) {
                margin-right: 1rem;
              }

              &.with-width {
                width: 60%;
                max-width: calc(100% - 14rem);

                button {
                  width: 100%;
                }
              }

              i {
                color: $color-nineteen;
                font-size: large;
              }
            }
          }
        }
      }
    }
  }

  .card-footer {

  }
}

@media(max-width: 640px) {
  .card {
    .no-of-views {
      display: none;
    }
    .card-title {
      .text,
      .sub-text {
        padding-right: 0;
      }
    }
    .card-content {
      .details-wrap {
        .img-wrap {
          width: 100%;
        }
        .content-wrap {
          width: 100%;
          padding-left: 0;
          margin-top: 1.5rem;
        }
      }
    }
  }
}