<div class="card">
  <div class="card-title">
    <h2 class="text">
      <a href="">
        {{property.title}}
      </a>
      <i class="fa fa-external-link" aria-hidden="true"></i>
    </h2>
    <p class="sub-text">
      <span>
        {{property.secondaryTitle}}
      </span>
      <i class="fa fa-map-marker" aria-hidden="true"></i>
    </p>
    <div class="no-of-views">
      2 people are viewing this property right now
    </div>
  </div>
  <div class="card-content">
    <div class="overview-wrap">
      <div class="overview">
        <p class="value">{{property.propertySize}} sqft</p>
        <p class="key">Built up</p>
      </div>
      <div class="overview">
        <p class="value">&#8377; {{property.deposit}}</p>
        <p class="key">Desposit</p>
      </div>
      <div class="overview">
        <p class="value"><span *ngIf="property.rent">&#8377;</span> {{property.rent || 'Only Deposit'}}</p>
        <p class="key">Rent ({{property.negotiable ? 'Negotiable' : 'Non Negotiable'}})</p>
      </div>
    </div>
    <div class="details-wrap">
      <div class="img-wrap">
        <img [src]="property.photo">
      </div>
      <div class="content-wrap">
        <div class="contents">
          <div class="content border-right border-bottom property-furnishing">
            <p class="text">{{property.furnishingDesc}} Furnished</p>
          </div>
          <div class="content  border-bottom property-age">
            <p class="text">{{property.propertyAge}} year old</p>
          </div>
          <div class="content border-right property-family">
            <p class="text">{{property.leaseType | lowercase}}</p>
          </div>
          <div class="content property-ready">
            <p class="text">{{property.availableFrom | date:'mediumDate'}}</p>
          </div>
        </div>
        <div class="action-wrap">
          <ul>
            <li class="with-width">
              <button class="nbroker-btn large red">Get Owner Details</button>
            </li>
            <li>
              <button class="nbroker-btn large bordered">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </button>
            </li>
            <li>
              <button class="nbroker-btn large bordered">
                <i class="fa fa-flag" aria-hidden="true"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
