/* nbroker buttons */
@import 'variables';
@import 'mixins';

.nbroker-btn {
  padding: .4rem 1rem;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.428571429;
  text-align: center;
  color: $white;
  text-transform: initial !important;
  cursor: pointer;
  border: 0;
  outline: none;
  letter-spacing: -.5px;
  word-spacing: -1px;
  @include ellipsis;

  &.green {
    background-color: $green;
    border: 1px solid $green;

    &:hover {
      opacity: .9;
    }
  }

  &.red {
    background-color: $red;
    border: 1px solid $red;

    &:hover {
      opacity: .9;
    }
  }

  &.bordered {
    color: #333;
    background-color: $white;
    border: 1px solid $color-eleven;

    &:hover {
      color: #333;
      background-color: $color-twelve;
      border: 1px solid $color-thirteen;
    }
  }

  &.large {
    font-size: 1.6rem;
    font-weight: 500;
    padding: .6rem 1.6rem;
  }

  &.mini {
    font-size: 1.2rem;
    padding: .3rem 1rem;
    min-width: auto;
  }
}