@import 'variables';
@import 'mixins';

.search-bar {
  input[type="text"] {
    display: inline-block;
    width: 100%;
    padding: .5rem 1rem;
    font-size: 1.4rem;
    line-height: 1.428571429;
    color: $color-five;
    background-color: $white;
    background-image: none;
    border: 1px solid $color-eleven;
    border-radius: 4px 0 0 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 29rem;
    outline: none;
  }

  button.search-btn {
    background: $red;
    cursor: pointer;
    border-color: $red;
    border-radius: 0;
    margin-left: -2px;
    padding: .6rem 1.5rem;
  }

  .custom-autocomplete {
    .custom-autocomplete__input {
      input[type="search"] {
        display: inline-block;
        width: 100%;
        padding: .5rem 1rem;
        font-size: 1.4rem;
        line-height: 1.428571429;
        color: $color-five;
        background-color: $white;
        background-image: none;
        border: 1px solid $color-eleven;
        border-radius: 4px 0 0 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        width: 40rem;
        outline: none;
        height: auto;
        padding-right: 8rem;
      }

      .search-icon {
        background: $red;
        cursor: pointer;
        border-color: $red;
        border-radius: 0;
        margin-left: -2px;
        padding: .6rem 1.5rem;
        width: 10rem;
        outline: none;

        &:hover {
          opacity: .9;
        }

        &:before {
          font-family: FontAwesome;
          content: "\f002";
          color: $white;
        }

        &:after {
          content: "Search";
          color: $white;
          padding-left: 5px;
        }

        .search-default-icon {
          display: none;
        }
      }
    }

    .custom-autocomplete__dropdown {
      border-radius: 4px;
      border: 1px solid $color-twelve;
      top: 3.3rem;

      li {
        a {
          color: $color-six;
          position: relative;

          i {
            color: $color-six;
            background-image: none;
            position: absolute;
            top: 1rem;
            left: 1.5rem;

            &.location-icon {
              position: relative;
              top: 0;
              left: 0;

              &:before {
                font-family: FontAwesome;
                content: "";
                color: $color-seven;
              }
            }

            &:before {
              font-family: FontAwesome;
              content: "\f041";
              color: $color-seven;
            }
          }
          span.main-text {
            font-weight: 400;
            padding-left: 2.5rem;
            display: inline-block;
          }

          span.secondary_text {
            display: block;
            padding-left: 2.5rem;
            margin-top: .5rem;
          }
        }
      }
    }
  }
}

.checkbox-wrap {
  .checkbox {
    display: inline-block;
    margin-right: 1rem;
    text-align: left;

    input[type="checkbox"] {
      visibility: hidden;
      height: 0;
      width: 0;
      display: inline-block;
      position: absolute;

      &+label {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        background: $white;
        border: .2rem solid $color-fourteen;
        display: inline-block;
        position: relative;
      }

      &:checked~label {
        background: $green;
        border: .2rem solid $green;
      }

      &:checked~label:after {
        content: '' !important;
        background-position: center;
        width: .5rem;
        height: .9rem;
        position: absolute;
        left: calc(50% - .25rem);
        top: 0;
     
        /*Add a white border on the bottom and left, creating that 'L' */
        border: solid $white;
        border-width: 0 .2rem .2rem 0;
     
        /*Rotate the L 45 degrees to turn it into a checkmark*/
        transform: rotate(45deg);
          
      }
    }
  }
  .radio {
    display: inline-block;
    margin-right: 1rem;
    text-align: left;
    vertical-align: bottom;

    input[type="radio"] {
      visibility: hidden;
      height: 0;
      width: 0;
      display: inline-block;
      position: absolute;

      &+label {
        width: 2rem;
        height: 2rem;
        position: relative;
        display: inline-block;
        background-color: $color-fourteen;
        border-radius: 100%;

        &:hover {
          &:after {
            background: $green;
            opacity: .3;
          }
        }

        &:after {
          width: 1.15rem;
          height: 1.15rem;
          position: absolute;
          border-radius: 100%;
          background-color: $white;
          content: '';
          position: absolute;
          left: calc(50% - .55rem);
          top: calc(50% - .6rem);
        }
      }

      &:checked~label {
        &:hover {
          &:after {
            background: $green;
          }
        }
      }

      &:checked~label:after {
        background: $green;
      }
    }
  }
  .text {
    font-weight: 300;
    color: $color-seven;
    font-size: 1.4rem;
    vertical-align: middle;
    @include ellipsis;
    width: calc(100% - 3.5rem);
    display: inline-block;
    cursor: pointer;
  }
}

.loading {
  text-align: center;
  margin: 6rem auto;
  font-size: 1.6rem;
}

.irs {
  .irs-line {
    height: .2rem;
    background: $color-eleven;
    cursor: pointer;
  }
  .irs-bar {
    height: .2rem;
    background: $green;
    cursor: pointer;
  }

  .irs-slider {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 2px solid $green;
    border-radius: 24px;
    background: $white;
    top: 16px;
    cursor: pointer;
    z-index: 1;
  }
}

@media(max-width: 640px) {
  .search-bar {
    width: calc(100% - 10rem);
    .custom-autocomplete {
      .custom-autocomplete__input {
        input[type="search"] {
          width: 100%;
        }
      }
    }
  }
}