
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: $color-fifteen;
  color: $color-seven;
  font-family: 'Source Sans Pro', sans-serif;
}

.content-wrapper {
  max-width: 117rem;
  margin: 11rem auto auto;
  padding-left: 1.5rem;

  .content {
    padding-left: 28rem;
    .listing-wrap {
      width: calc(100% - 20rem);
      min-height: 500px;
      display: inline-block;
      vertical-align: top;
    }

    .quick-links {
      width: 18rem;
      display: inline-block;
      vertical-align: top;
    }
  }
}



@media(max-width: 992px) {
  html {
    font-size: 9px;
  }
  .content-wrapper {
    max-width: 100%;

    .content {
      padding: 0 1rem 0 23rem;
      .listing-wrap {
        width: 100%;
      }

      .quick-links {
        display: none;
      }
    }
  }
}

@media(max-width: 768px) {
  .content-wrapper {
    padding-left: 0;

    .content {
      padding: 0 1rem;
    }
  }
}