/*==================================*/
// ---------- VARIABLES ---------
/*==================================*/

$white: #FFF;
$black: #000;
$header-border-color: #efd2d2;
$green: #009587;
$red: #fd3753;
$color-one: #111;
$color-two: #222;
$color-three: #333;
$color-four: #444;
$color-five: #555;
$color-six: #666;
$color-seven: #707070;
$color-eight: #888;
$color-nine:  #959595;
$color-ten: #909496;
$color-eleven: #ccc;
$color-twelve: #ebebeb;
$color-thirteen: #adadad;
$color-fourteen: #E1E1E1;
$color-fifteen: #e9e9e9;
$color-sixteen: #FD3753;
$color-seventeen: #f8f8f8;
$color-eighteen: #D1D1D1;
$color-nineteen: #6E6D6D;
$color-twenty: #EBEBEB;
$color-twenty-one: #e1e1e1;
$color-twenty-two: #fafafa;
$color-twenty-three: #c5c5c5;
$color-twenty-four: #6b6b6b;