@import '../../../sass/variables';
@import '../../../sass/mixins';

header {
  height: 5rem;
  background: $white;
  @include clearfix;
  padding: 0 2rem;
  border-bottom: 1px solid $header-border-color;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;

  .logo-wrap {
    float: left;

    img {
      max-width: 16rem;
    }
  }

  .nav-right-content {
    float: right;
    height: 100%;

    ul {
      height: 100%;
      display: table;

      li {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        padding-top: 4px;

        &:not(:first-child) {
          cursor: pointer;
        }

        &.hover {
          &:hover {
            background-color: $color-twenty-one;

            a {
              border-left-color: transparent;
            }

            +li {
              a {
                border-left-color: transparent;
              }
            }
          }
        }

        button {
          margin-right: 1.5rem;
        }

        a {
          color: $color-five;
          border-left: 1px solid $color-twenty-one;
          padding: 3px 1.5rem;
          text-align: center;
          font-size: 16px;
          font-weight: 300;
          vertical-align: middle;
          display: inline-block;
        }

        i {
          color: $color-five;
          font-size: 1.6rem;
          vertical-align: baseline;
          margin-right: 3px;
        }
      }
    }
  }

  .filter-toggle {
    font-size: 1.6rem;
    color: $color-three;
    float: right;
    cursor: pointer;
    padding: 2rem 0 0;
    display: none;
  }
}

.sub-header {
  height: 5rem;
  background-color: $color-twenty-two;
  @include clearfix;
  position: fixed;
  width: 100%;
  left: 0;
  top: 5rem;
  right: 0;
  z-index: 9;
  padding: 0;
  border-bottom: 1px solid $color-twenty-three;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);

  .sub-header-content {
    max-width: 117rem;
    margin: 0 auto;
    height: 100%;
    padding: 1rem 0 0 1.5rem;

    .search-bar {
      display: inline-block;
    }

    .action-text {
      font-size: 1.3rem;
      white-space: nowrap;
      color: $color-five;
      text-decoration: underline;
      display: inline-block;
      vertical-align: super;
      margin-left: 1.5rem;
    }
  }
}

@media(max-width: 768px) {
  header {
    .nav-right-content {
      display: none;
    }
    .filter-toggle {
      display: block;
    }
  }
}