<header>
  <div class="logo-wrap">
    <div class="img-wrap">
      <img src="https://assets.nobroker.in/static/img/logos/nb_logo_trans_2.png">
    </div>
  </div>
  <div class="nav-right-content">
    <ul>
      <li>
        <button class="nbroker-btn green">Post Your Property </button>
      </li>
      <li class="hover">
        <a href="">Sign up</a>
      </li>
      <li class="hover">
        <a href="">Log in</a>
      </li>
      <li>
        <a>
          <i class="fa fa-bars" aria-hidden="true"></i>
          Menu
        </a>
      </li>
    </ul>
  </div>
  <div class="filter-toggle" (click)="toggleFilter()">
    <i class="fa fa-filter" aria-hidden="true"></i>
    Filter
  </div>
</header>
<div class="sub-header">
  <div class="sub-header-content">
    <div class="search-bar">
      <!-- <input type="text" name="search">
      <button class="nbroker-btn search-btn">
        <i class="fa fa-search" aria-hidden="true"></i>
        Search
      </button> -->
      <ng4geo-autocomplete (componentCallback)="placesSearchCallback($event)"></ng4geo-autocomplete>
    </div>
    <p class="action-text">
      Save search
    </p>
  </div>
</div>
