<app-header (headerDataEmitter)="headerEmits($event)"></app-header>
<ng-progress
  [showSpinner]="false"
  [trickleSpeed]="250"
  [ease]="'linear'"
  [color]="'#fd3753'">
</ng-progress>
<div class="content-wrapper">
  <app-filter (filterOutput)="getFilteredProperties($event)" [openState]="filterOpenState"></app-filter>
  <div class="content" 
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">
    <div class="listing-wrap">
      <app-breadcrumb [breadCrumbData]="breadCrumbData"></app-breadcrumb>
      <app-card *ngFor="let property of properties; let i = index" [property]="property"></app-card>
      <p class="loading" *ngIf="isLoadingApi">Loading...</p>
    </div>
    <div class="quick-links">
      <app-right-panel></app-right-panel>
    </div>
  </div>
</div>