@import '../../../sass/variables';
@import '../../../sass/mixins';

.right-panel {
  width: 100%;
  margin-left: 1.5rem;
  position: relative;

  .panel {
    background: $white;
    border-radius: 4px;
    border: 1px solid $color-twelve;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;

    .header-wrap {
      border-bottom: solid 1px $color-fourteen;
      padding: 1rem 0;

      p.title {
        font-size: 1.6rem;
        font-weight: 300;
        color: $red;
      }
    }

    .title-text {
      color: $color-seven;
      font-size: 1.4rem;
      font-weight: 400;
      margin-top: 1.5rem;
      padding: 0;

      &.light {
        font-weight: 300;
      }
    }

    .img-wrap {
      margin: 1.5rem 0;
      img {
        width: 100%;
      }
    }

    .button-wrap {
      button {
        width: 100%;
      }
    }

    ul {
      margin: 1rem 0;
      padding: 0;

      li {
        padding: .5rem 0;
        position: relative;
        padding-left: 1.5rem;

        &:before {
          content: "•";
          font-size: 170%; /* or whatever */
          padding-right: 5px;
          position: absolute;
          left: 0;
          top: .5rem;
        }

        a {
          color: $color-twenty-four;
          text-decoration: none;
          font-size: 1.4rem;

          &:hover {
            color: $red;
          }
        }
      }
    }
  }
}