<div class="right-panel">
  <div class="panel">
    <div class="header-wrap">
      <p class="title">Quick links</p>
    </div>
    <p class="title-text">
      People also searched for
    </p>
    <ul>
      <li>
        <a href="">Flats in Somasundarapalya for Rent</a>
      </li>
      <li>
        <a href="">Flats in Mangammanapalya for Rent</a>
      </li>
      <li>
        <a href="">Flats in Reliaable Tranquil Layout for Rent</a>
      </li>
      <li>
        <a href="">Flats in Muneshwara Nagar for Rent</a>
      </li>
      <li>
        <a href="">Flats in GB Palya for Rent</a>
      </li>
    </ul>
  </div>
  <div class="panel">
    <p class="title-text light">
      Get a house at NoBroker and furnish with Furlenco
    </p>
    <div class="img-wrap">
      <img src="https://images.nobroker.in/static/img/furlenco_v.jpg">
    </div>
    <div class="button-wrap">
      <button class="nbroker-btn green">Furnish with Furlenco </button>
    </div>
  </div>
  <div class="panel">
    <div class="header-wrap">
      <p class="title">Share and Earn</p>
    </div>
    <p class="title-text">
      Moving out? Share your current owner details and earn 100
    </p>
    <div class="img-wrap">
      <img src="https://assets.nobroker.in/static/img/icon/share-and-earn-list-page-icon_2.png">
    </div>
    <div class="button-wrap">
      <button class="nbroker-btn green">Share Owner Details </button>
    </div>
  </div>
  <div class="panel">
    <div class="img-wrap">
      <img src="https://assets.nobroker.in/static/img/icon/packersAndMovers_icon.png">
    </div>
    <div class="button-wrap">
      <button class="nbroker-btn green">Know More</button>
    </div>
  </div>
</div>
